{
    -primary-color: #2E2E2E;
    -secondary-color:  #4E4E4E;
    -category-color: -secondary-color;
    -task-color: -primary-color;
    -text-color : white;
}

.primary-color{
    -fx-background-color: -primary-color;
    -fx-text-fill: -text-color;
}

.secondary-color{
    -fx-background-color: -secondary-color;
    -fx-text-fill: -text-color;
}

.round-border {
    -fx-background-radius: 100;
    -fx-border-radius: 100;
    -fx-border-width: 2;
    -fx-border-color: transparent;
}

.round-border:hover,
.round-border:focused {
    -fx-border-color: #000000;
}

.titled-pane > .title {
    -fx-background-color: null;
    -fx-text-fill: -text-color;
}

.titled-pane > *.content {
    -fx-background-color: null;
    -fx-border-color: null;
    -fx-text-fill: -text-color;
}

#category-background {
    -fx-background-color: -category-color;
    -fx-background-radius: 15;
    -fx-text-fill: -text-color;
}

#category-pane {
    -fx-box-border: transparent;
    -fx-text-fill: -text-color;
}

#category-pane > .title{
    -fx-background-color: -category-color;
    -fx-box-border: transparent;
    -fx-text-fill: -text-color;
}
#category-content{
    -fx-background-color: -category-color;
    -fx-text-fill: -text-color;
}

.task-text {
    -fx-text-fill: -text-color;
}

.primary-label {
    -fx-text-fill: -text-color;
}

.sorting-labels {
    -fx-text-fill: -text-color;
}
.sorting-buttons {
    -fx-background-color: #232F34;
    -fx-background-radius: 5;
    -fx-text-fill: -text-color;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-border-color: black;
}

.sorting-buttons:hover,
.sorting-buttons:focused {
    -fx-background-color: #B5B5B5;
    -fx-border-color: #000000;
}

.edit-name-button {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}
.edit-name-button:hover,
.edit-name-button:focused {
    -fx-background-color: #B5B5B5;
    -fx-border-color: #000000;
}

.add-button {
    -fx-background-color: #232F34;
    -fx-text-fill: -text-color;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.add-button:focused,
.add-button:hover {
    -fx-background-color: #3e5159;
    -fx-border-color: #000000;
}

.add-button:pressed {
    -fx-translate-y: 1px;
    -fx-translate-x: 1px;
}

.delete-button {
    -fx-background-color: none;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-text-fill: -text-color;
}
.delete-button:pressed {
    -fx-translate-x: 1px;
    -fx-translate-y: 1px;
}
.delete-button:hover,
.delete-button:focused {
    -fx-background-color: #E6E6E6;
    -fx-border-color: #000000;
}


#task-background {
    -fx-background-color: -task-color;
    -fx-background-radius: 10;
    -fx-text-fill: -text-color;
}

#task-pane > .title {
    -fx-background-color: -task-color;
    -fx-text-fill: -text-color;
}

#task-content {
    -fx-background-color: -task-color;
    -fx-text-fill: -text-color;
}

#line {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: lightgrey;
    -fx-padding: 10 0 0 0;
}

#empty-label {
    -fx-border-width: 2px;
    -fx-border-style: dotted;
    -fx-border-radius: 5px;
    -fx-text-fill: -text-color;
}

.toggle-button {
    -fx-pref-width: 70;
    -fx-pref-height: 20;
    -fx-background-radius: 0;
    -fx-background-color: #232F34;
    -fx-border-width: 1px;
    -fx-border-color: black;
    -fx-font-size: 10;
    -fx-text-fill: -text-color;
}
.toggle-button:selected {
    -fx-background-color: #712D2D;
}
.toggle-button:hover,
.toggle-button:focused {
    -fx-background-color: #D9EDFB;
}

.toggle-button-left {
    -fx-background-radius: 2 0 0 2;
    -fx-border-radius: 2 0 0 2;
    -fx-border-width: 1 0 1 1;
}

.toggle-button-right {
    -fx-background-radius: 0 2 2 0;
    -fx-border-radius: 0 2 2 0;
    -fx-border-width: 1 1 1 0;
}

.task-label {
    -fx-pref-width: 100;
    -fx-background-radius: 5px;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-text-fill: black;
}

#task-delete-button {
    -fx-effect: none;
}

#change-deadline {
    -fx-pref-width: 117;
    -fx-border-radius: 2;
    -fx-text-fill: -text-color;
}
shadow {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}




